.video{
    /* position: absolute; */
    bottom: 0px;
    height: auto;
    width: 100%;
    left: 0;
    right: 0;
  }
  
  .indexContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: black;
  }