.city {
    background-color: white;
    box-shadow: var(--b-shadow);
    margin: 10px;
    padding: 10px;
    width: 200px;
    border-radius: var(--b-radius);
}

.cityNombre {
    text-align: center;
    width: 100%;
    display: block;
}

.subTitle{
    display: block;
    width: 100%;
    color: grey;
    text-align: center;
}

h1{
    margin: 0;
}

.cityTemperatura {
    text-align: center;
}